.shapes {
  .dynamic-classes {
    .playground {
      .shape {
        width: 100px;
        height: 100px;
      }
      .green {
        background-color: green;
      }
      .blue {
        background-color: blue;
      }
      .red {
        background-color: red;
      }
    }
  }

  .using-hooks {
    .playground {
      .shape {
        width: 100px;
        height: 100px;
        background-color: magenta;
      }
    }
  }
}
